# SOPS
.decrypted~*

# COLLECTIONS
# Ignore everything in collections dir
!/collections/
/collections/**
# Except:
!/collections/.gitignore
!/collections/README.md
!/collections/requirements.yml
# local COLLECTIONS
!/collections/ansible_collections/
!/collections/ansible_collections/.gitignore
!/collections/ansible_collections/README.md
!/collections/ansible_collections/requirements.sh

# ROLES
# Ignore everything in roles dir
!/roles/
/roles/**
# Except:
!/roles/.gitignore
!/roles/README.md
!/roles/requirements.yml
!/roles/requirements.sh

# UPDATE
.update/
